# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

anomalias_termicas = pd.Series(data=[-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
anomalias_termicas

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
anomalias_termicas_index = pd.Series(data=[-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index=['1900','1920', '1940', '1960', '1980', '2000', '2020'])
anomalias_termicas_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

anomalias_termicas_2 = pd.Series(data=dic_temperaturas)
anomalias_termicas_2

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
df

             0           1           2
0    91.236725   98.979616  108.135702
1    98.527244   99.701229  105.258111
2    81.986920   93.365023   87.196887
3    84.786900  101.776028   90.149117
4   102.341223  103.652992  116.006011
5    95.410069   98.107614  100.294643
6    88.194906   84.444519   94.949421
7    90.667811   95.417524  100.697416
8    94.729131   93.258644   98.527619
9   105.456801  111.132463   97.176754
10   89.012805  101.244068   99.672787
11  100.611409  115.399485  106.235452
12   99.608242  108.892598   96.023052
13  110.033526   87.572293  101.227336
14  103.807192   92.985299  113.428427
15  100.273126  103.768431   93.263520
16  100.456087   97.349374   93.026280
17  100.145652   88.577381  107.733976
18   95.156027  100.871098   78.995272
19   85.436767   92.687629  101.592378

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [8]:
indices = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
df = pd.DataFrame(data=arr, index=indices, columns=['x1', 'x2', 'x3'])
df

            x1          x2          x3
1    91.236725   98.979616  108.135702
2    98.527244   99.701229  105.258111
3    81.986920   93.365023   87.196887
4    84.786900  101.776028   90.149117
5   102.341223  103.652992  116.006011
6    95.410069   98.107614  100.294643
7    88.194906   84.444519   94.949421
8    90.667811   95.417524  100.697416
9    94.729131   93.258644   98.527619
10  105.456801  111.132463   97.176754
11   89.012805  101.244068   99.672787
12  100.611409  115.399485  106.235452
13   99.608242  108.892598   96.023052
14  110.033526   87.572293  101.227336
15  103.807192   92.985299  113.428427
16  100.273126  103.768431   93.263520
17  100.456087   97.349374   93.026280
18  100.145652   88.577381  107.733976
19   95.156027  100.871098   78.995272
20   85.436767   92.687629  101.592378

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [21]:
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    91.236725   98.979616  108.135702   99.450681
2    98.527244   99.701229  105.258111  101.162195
3    81.986920   93.365023   87.196887   87.516277
4    84.786900  101.776028   90.149117   92.237348
5   102.341223  103.652992  116.006011  107.333408
6    95.410069   98.107614  100.294643   97.937442
7    88.194906   84.444519   94.949421   89.196282
8    90.667811   95.417524  100.697416   95.594250
9    94.729131   93.258644   98.527619   95.505131
10  105.456801  111.132463   97.176754  104.588673
11   89.012805  101.244068   99.672787   96.643220
12  100.611409  115.399485  106.235452  107.415448
13   99.608242  108.892598   96.023052  101.507964
14  110.033526   87.572293  101.227336   99.611052
15  103.807192   92.985299  113.428427  103.406973
16  100.273126  103.768431   93.263520   99.101692
17  100.456087   97.349374   93.026280   96.943913
18  100.145652   88.577381  107.733976   98.819003
19   95.156027  100.871098   78.995272   91.674132
20   85.436767   92.687629  101.592378   93.238925

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [25]:
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    91.236725   98.979616  108.135702   99.450681  4.599662
2    98.527244   99.701229  105.258111  101.162195  4.616725
3    81.986920   93.365023   87.196887   87.516277  4.471825
4    84.786900  101.776028   90.149117   92.237348  4.524365
5   102.341223  103.652992  116.006011  107.333408  4.675940
6    95.410069   98.107614  100.294643   97.937442  4.584329
7    88.194906   84.444519   94.949421   89.196282  4.490839
8    90.667811   95.417524  100.697416   95.594250  4.560113
9    94.729131   93.258644   98.527619   95.505131  4.559180
10  105.456801  111.132463   97.176754  104.588673  4.650035
11   89.012805  101.244068   99.672787   96.643220  4.571026
12  100.611409  115.399485  106.235452  107.415448  4.676704
13   99.608242  108.892598   96.023052  101.507964  4.620137
14  110.033526   87.572293  101.227336   99.611052  4.601273
15  103.807192   92.985299  113.428427  103.406973  4.638672
16  100.273126  103.768431   93.263520   99.101692  4.596147
17  100.456087   97.349374   93.026280   96.943913  4.574133
18  100.145652   88.577381  107.733976   98.819003  4.593290
19   95.156027  100.871098   78.995272   91.674132  4.518240
20   85.436767   92.687629  101.592378   93.238925  4.535165